.events {
  margin: 0;
  padding: 0;
  list-style: none;
}

.events .ant-badge-status {
  width: 100%;
  overflow: hidden;
  font-size: 12px;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.notes-month {
  font-size: 28px;
  text-align: center;
}

.notes-month section {
  font-size: 28px;
}

.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-today {
  border-top: 7px solid #1890ff !important;
}

.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date {
  height: 70px !important;
}

.ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content {
  height: 30px !important;
}

.item-body {
  border-left: 5px solid #1890ff;
  border-right: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;
  border-radius: 5px;
  min-height: 70px;
  padding: 10px;
  margin: 10px 0px;
  font-size: 10px;
}

.item-body:hover {
  background: #f8f8f8;
}

.loading {
  position: fixed;
  /* Sit on top of the page content */
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999999;
}

.line-with-text {
  display: flex;
  align-items: center;
  width: 100%;
}

.line {
  flex-grow: 1;
  height: 1px;
  border: 1px solid black;
  width: auto;
}

.text {
  margin: 0 10px;
}

/* Works on Firefox */
/* * {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
} */
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: rgb(220, 220, 220);
}

*::-webkit-scrollbar-thumb {
  background-color: #c7c7c7;
  border-radius: 20px;
  border: 3px solid #c7c7c7;
}

.ql-font-sansSerif,
.ql-font span[data-value="sansSerif"]::before {
  font-family: sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=sansSerif]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=sansSerif]::before {
  content: 'Sans Serif';
}

.ql-font-calibri,
.ql-font span[data-value="calibri"]::before {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=calibri]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=calibri]::before {
  content: 'Calibri';
}

.ql-font-segoeUi,
.ql-font span[data-value="segoeUi"]::before {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=segoeUi]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=segoeUi]::before {
  content: 'Segoe UI';
}

.ql-font-timesNewRoman,
.ql-font span[data-value="timesNewRoman"]::before {
  font-family: 'Times New Roman', Times, serif;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=timesNewRoman]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=timesNewRoman]::before {
  content: 'Times New Roman';
}

.ql-font-monospace,
.ql-font span[data-value="monospace"]::before {
  font-family: monospace;
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value=monospace]::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value=monospace]::before {
  content: 'Monospace';
}

.ql-snow .ql-picker.ql-font {
  width: 135px;
}

.ql-container {
  min-height: 116px;
}

.ql-disabled {
  background-color: #f3f2f1;
  border: none !important;
}

.ql-align-center {
  text-align: center;
}

.ql-align-right {
  text-align: right;
}

.ql-align-justify {
  text-align: justify;
}

.ql-size-small {
  font-size: 0.75em;
}

.ql-size-large {
  font-size: 1.5em;
}

.ql-size-huge {
  font-size: 2.5em;
}

.ant-picker-calendar.ant-picker-calendar-full.ant-picker-panel.ant-picker-body th:nth-child(1) {
  display: none;
}

.ant-picker-calendar-full .ant-picker-panel .ant-picker-body th:nth-child(1) {
  content: "Asu" !important;
}

/* sunday */
.ant-fullcalendar.ant-fullcalendar-full>div>table>thead>tr th:nth-child(1)>span {
  display: none;
}

.ant-fullcalendar.ant-fullcalendar-full>div>table>thead>tr th:nth-child(1):after {
  content: "Sun";
  display: block;
  font-weight: normal;
}

/* monday */
.ant-fullcalendar.ant-fullcalendar-full>div>table>thead>tr th:nth-child(2)>span {
  display: none;
}

.ant-fullcalendar.ant-fullcalendar-full>div>table>thead>tr th:nth-child(2):after {
  content: "Mon";
  display: block;
  font-weight: normal;
}

/* tuesday */
.ant-fullcalendar.ant-fullcalendar-full>div>table>thead>tr th:nth-child(3)>span {
  display: none;
}

.ant-fullcalendar.ant-fullcalendar-full>div>table>thead>tr th:nth-child(3):after {
  content: "Tue";
  display: block;
  font-weight: normal;
}

/* wednesday */
.ant-fullcalendar.ant-fullcalendar-full>div>table>thead>tr th:nth-child(4)>span {
  display: none;
}

.ant-fullcalendar.ant-fullcalendar-full>div>table>thead>tr th:nth-child(4):after {
  content: "Wed";
  display: block;
  font-weight: normal;
}

/* thursday */
.ant-fullcalendar.ant-fullcalendar-full>div>table>thead>tr th:nth-child(5)>span {
  display: none;
}

.ant-fullcalendar.ant-fullcalendar-full>div>table>thead>tr th:nth-child(5):after {
  content: "Thu";
  display: block;
  font-weight: normal;
}

/* friday */
.ant-fullcalendar.ant-fullcalendar-full>div>table>thead>tr th:nth-child(6)>span {
  display: none;
}

.ant-fullcalendar.ant-fullcalendar-full>div>table>thead>tr th:nth-child(6):after {
  content: "Fri";
  display: block;
  font-weight: normal;
}

/* saturday */
.ant-fullcalendar.ant-fullcalendar-full>div>table>thead>tr th:nth-child(7)>span {
  display: none;
}

.ant-fullcalendar.ant-fullcalendar-full>div>table>thead>tr th:nth-child(7):after {
  content: "Sat";
  display: block;
  font-weight: normal;
}

.floating-panel {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f0f0f0;
  padding: 20px;
  border-top: 1px solid #ccc;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
}

.floating-panel.open {
  max-height: 200px;
  /* Adjust the max height as needed */
  overflow: auto;
}